<h1>geekdatespot</h1>
<h3>datespot一覧</h3>

<h3>投稿を検索</h3>
<%= link_to "新規投稿へ", new_tweet_path %>
<%= link_to '診断へ', perfumes_path %>
<div class="tweets-container">
  <% if user_signed_in? %>
    <%= link_to "マイページへ", user_path(current_user.id) %>
  <% end %>

  <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
      <% Tag.all.each do |t| %>
          <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
      <% end %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する'  %>
  <% end %>

    <% @tweets.each do |t| %>
      <div class="tweet">
        <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.user.email %>
          <%= t.mood %>
          <%= t.station %>
          <%= t.price %>
          <%= t.genre %>

        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
              <%= button_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
                  <p>いいねを取り消す</p><%= t.likes.count %>
              <% end %>
          <% else %>
            <%= button_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
                <p>いいね</p><%= t.likes.count %>
            <% end %>
          <% end %>
        <% else %>
        <p>いいねの数 = </p><%= t.likes.count %>
        <% end %>

        <%= link_to "詳細へ", tweet_path(t.id) %>
          <% if user_signed_in? && current_user.id == t.user_id %>
            <%= link_to "編集する", edit_tweet_path(t.id) %>
            <%= button_to "削除する", tweet_path(t.id), method: :delete %>
          <% end %> 
      <div>
        <% if t.sterrating.present? %>
          <span class="star-rating">
            <span class="star-rating-front" style="width: <%= getPercent(t.sterrating) %>%;">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
          </span><%= t.sterrating.round(1) %>
        <% end %>
      </div>
      </div>
    <% end %>
</div>